{% extends 'base.html.twig' %}

{% block body %}
<body>
    <!-- Slider -->
    <section id="product-slider">
        <div class="main-slider swiper-container">
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for i in 1..3 %}
                    {% include 'parts/_product_slide.html.twig' %}
                {% endfor %}
            </div>
        </div>
        <!-- Slider Pagination -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </section>
    <!-- End of Slider -->

    <section id="product-banners">
        <div class="container mx-auto py-10">
            <div class="flex flex-wrap -mx-4">
             {% for i in 1..3 %}
                {% include 'parts/_category_banner.html.twig' %}
             {% endfor %}
            </div>
        </div>
    </section>
<!-- Popular product section -->
  <section id="popular-products">
    <div class="container mx-auto px-4">
        <h2 class="text-2xl font-bold mb-8">Popular products</h2>
        <div class="flex flex-wrap -mx-4">
            <!-- Product 1 -->
            {% for i in 1..4 %}
                {% include 'parts/_product_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
</section>


<!-- Latest product section -->
  <section id="latest-products" class="py-10">
    <div class="container mx-auto px-4">
        <h2 class="text-2xl font-bold mb-8">Latest products</h2>
        <div class="flex flex-wrap -mx-4">
            <!-- Products -->
            {% for i in 1..4 %}
                {% include 'parts/_product_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
</section>


<!-- Brand section -->
    <section id="brands" class="bg-white py-16 px-4">
        <div class="container mx-auto max-w-screen-xl px-4 testimonials">
            <div class="text-center mb-12 lg:mb-20">
                <h2 class="text-5xl font-bold mb-4">Discover <span class="text-primary">Our Brands</span></h2>
                <p class="my-7">Explore the top brands we feature in our store</p>
            </div>
            <div class="swiper brands-swiper-slider">
                <div class="swiper-wrapper">
                    <!-- Brand Logo 1 -->
                    <div class="swiper-slide flex-none bg-gray-200 flex items-center justify-center rounded-md">
                        <img src="{{ asset('template-html/assets/images/brands/html.svg') }}" alt="Client Logo" style="max-width: 150px; max-height: 80px; object-fit: contain;">
                    </div>

                    <!-- Brand Logo 2 -->
                    <div class="swiper-slide flex-none bg-gray-200 flex items-center justify-center rounded-md">
                        <img src="{{ asset('template-html/assets/images/brands/html.svg') }}" alt="Client Logo" style="max-width: 150px; max-height: 80px; object-fit: contain;">
                    </div>

                    <!-- Brand Logo 3 -->
                    <div class="swiper-slide flex-none bg-gray-200 flex items-center justify-center rounded-md">
                        <img src="{{ asset('template-html/assets/images/brands/html.svg') }}" alt="Client Logo" style="max-width: 150px; max-height: 80px; object-fit: contain;">
                    </div>

                    <!-- Brand Logo 4 -->
                    <div class="swiper-slide flex-none bg-gray-200 flex items-center justify-center rounded-md">
                        <img src="{{ asset('template-html/assets/images/brands/html.svg') }}" alt="Client Logo" style="max-width: 150px; max-height: 80px; object-fit: contain;">
                    </div>

                    <!-- Brand Logo 5 -->
                    <div class="swiper-slide flex-none bg-gray-200 flex items-center justify-center rounded-md">
                        <img src="{{ asset('template-html/assets/images/brands/html.svg') }}" alt="Client Logo" style="max-width: 150px; max-height: 80px; object-fit: contain;">
                    </div>

                    <!-- Brand Logo 6 -->
                    <div class="swiper-slide flex-none bg-gray-200 flex items-center justify-center rounded-md">
                        <img src="{{ asset('template-html/assets/images/brands/html.svg') }}" alt="Client Logo" style="max-width: 150px; max-height: 80px; object-fit: contain;">
                    </div>

                    <!-- Brand Logo 7 -->
                    <div class="swiper-slide flex-none bg-gray-200 flex items-center justify-center rounded-md">
                        <img src="{{ asset('template-html/assets/images/brands/html.svg') }}" alt="Client Logo" style="max-width: 150px; max-height: 80px; object-fit: contain;">                    </div>
                </div>
                <!-- Navigation Buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>







    <!-- Banner section -->
<section id="banner" class="relative my-16">
    <div class="container mx-auto px-4 py-20 rounded-lg relative bg-cover bg-center" style="background-image: url('{{ asset('template-html/assets/images/banner1.jpg') }}');">
        <div class="absolute inset-0 bg-black opacity-40 rounded-lg"></div>
        <div class="relative flex flex-col items-center justify-center h-full text-center text-white py-20">
            <h2 class="text-4xl font-bold mb-4">Welcome to Our Shop</h2>
            <div class="flex space-x-4">
                <a href="#" class="bg-primary hover:bg-transparent text-white hover:text-primary border border-transparent hover:border-primary font-semibold px-4 py-2 rounded-full inline-block">Shop Now</a>
                <a href="#" class="bg-primary hover:bg-transparent text-white hover:text-primary border border-transparent hover:border-primary font-semibold px-4 py-2 rounded-full inline-block">New Arrivals</a>
                <a href="#" class="bg-primary hover:bg-transparent text-white hover:text-primary border border-transparent hover:border-primary font-semibold px-4 py-2 rounded-full inline-block">Sale</a>
            </div>
        </div>
    </div>
</section>



<!-- Blog section -->
 <section class="py-16">
    <div class="text-center mb-12 lg:mb-20">
        <h2 class="text-5xl font-bold mb-4">Discover <span class="text-primary">Our</span> Blog</h2>
        <p class="my-7">Stay updated with the latest trends, tips, and stories in the world of fashion</p>
    </div>
    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
        <div class="grid w-full grid-cols-1 gap-6 mx-auto lg:grid-cols-3">
            {% for i in 1..3 %}
                {% include 'parts/_blog_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
</section>


  <!-- Subscribe section -->
<section id="subscribe" class="py-6 lg:py-24 bg-white border-t border-gray-line">
  <div class="container mx-auto">
    <div class="flex flex-col items-center rounded-lg p-4 sm:p-0 ">
      <div class="mb-8">
        <h2 class="text-center text-xl font-bold sm:text-2xl lg:text-left lg:text-3xl">Join our newsletter and <span class="text-primary">get $50 discount</span> for your first order</h2>
      </div>
      <div class="flex flex-col items-center w-96 ">
        <form class="flex w-full gap-2">
          <input placeholder="Enter your email address" class="w-full flex-1 rounded-full px-3 py-2 border border-gray-300 text-gray-700 placeholder-gray-500 focus:outline-none focus:border-primary focus:ring-2 focus:ring-primary" />
          <button class="bg-primary border border-primary hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

      
      